@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --pink-light: #DB81B4;
    --pink-dark: #c4689d;
    --gray-light: #D4D4D4;
    --dark-light: #666666;
}

a{
    text-decoration: none;
    color:  unset;
}

.hidden{
    visibility: hidden;
}

.w100{
    width: 100%;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 100vw;
    padding: 20px;
}

*{
    font-family: "IBM Plex Sans Thai", sans-serif;;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    font-weight: 600;
    background: linear-gradient(45deg, var(--pink-dark), var(--pink-light));
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#app-name{
    font-size: 1.2rem;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid white;
    background-color: var(--pink-light);
    background-position: center;
    background-size: cover;
}

.section{
    background: none;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.section-title{
    padding: 2px 0px;
    margin-bottom: 8px;
    font-size: 1.2rem;
    font-weight: 800;
    width: 100%;
    text-align: left;
}

.section-content{
    width: fit-content;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.category {
    text-align: center;
    width: 105px;
}

.category-icon{
    background-color: var(--gray-light);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.category-title{
    padding-top: 8px;
    color: var(--pink-dark);
    font-size: 1rem;
    font-weight: 600;
}

.category-desc{
    text-align: left;
    font-size: 0.9rem;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: var(--pink-dark);
    display: flex;
    justify-content: space-around;
    padding: 12px 10px;
    padding-bottom: 15px;
    border-radius: 20px 20px 0px 0px;
}

.bottom-nav .active{
    background-color: #FFFFFF !important;
    color: var(--pink-dark) !important;
}

.round{
    height: 30px;
    aspect-ratio: 1;
    background-color: #FFFFFF;
    color: var(--pink-dark);
    border-radius: 50%;
    border: none;
    outline: none;
}

.bottom-nav .round{
    background-color: var(--pink-dark);
    color: #FFFFFF;
    border: #FFFFFF;
    height: 100%;
    font-size: 20px;
    line-height: 0;
}

.button-rect{
    height: 45px;
    line-height: 1;
    background-color: var(--pink-light);
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1rem;
    transition: all .1s ease-in-out;
}

.button-rect:hover{
    background-color: var(--pink-dark);
    font-size: 1.02rem;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container-float {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.info-header {
    width: 100%;
    background: #e87ca1;
    color: white;
    text-align: center;
    padding: 20px;
}
.info-menu {
    width: 100%;
    padding: 15px 40px;
}
.info-menu-item {
    width: 100%;
    padding: 10px 6px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    border-radius: 6px;
    transition: all .15s linear;
}
.info-menu-item:last-child {
    border-bottom: none;
}
.info-menu-item:hover {
    background: #f0f0f0;
    padding-left: 10px;
}
.info-menu-item i{
    margin-right: 10px;
    color: #e87ca1;
}

.star {
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.star.active {
    color: gold;
}
.star:hover{
    font-size: 22px;
}